@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: #02A6AA;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;    
}

.btn:hover {
    cursor: pointer;
    background: #02939A ;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */

#navbar {
    width: 100%;
    background-color: #eee;
    color: #02939A;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 2rem;
    max-width: 150px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

#navbar-items li:hover {
    color: #00494d;
    border-radius: 5px;
    transition: all 500ms ease-in-out; 
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(../img/showcase.jpg) no-repeat center center/cover;

    /* Overlay */
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
    padding: 0px 0px 15px 0px;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0px;
}

/* services */

#services {
    width: 100%;
    height: auto;
    background: #02939A;
    color: #eee;
    padding: 50px;
}

#services-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.service {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    /* border: hsla(0, 0%, 100%, 0.2) solid 1px; */
    /* padding: 20px; */
    border-radius: 5px;
}

.service img {
    width: 100%;
    /* height: 60%; */
    border-radius: 5px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* About */

#about {
    width: 100%;
    padding: 50px;
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.profile-photo {
    max-width: 490px;
    border-radius: 10px;
    margin: 0 20px;   
}

#items {
    max-width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}


/* footer */

#footer {
    background: #02939A;
    color: #eee;
    padding: 30px;
    text-align: center;
}



